<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <a routerLink="/" class="navbar-brand">Angular App</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/user" class="nav-link">Users</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/post" class="nav-link">Posts</a>
    </li>
  </ul>
</nav>
