<h2>Users:</h2>

<button [disabled]="!enableAdd" [ngClass]="currentClasses" class="btn btn-block mb-3">Add new user</button>

<ul class="list-unstyled" *ngIf="users?.length > 0; else noUsers">
  <li [style.border-color]="user.isActive ? 'green' : ''" class="card card-body mb-2" *ngFor="let user of users"
    [class.bg-light]="user.isActive">
    <div class="row">
      <div class="col-sm-4">
        <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt="">
      </div>
      <div class="col-sm-8">
        <h3 [ngStyle]="currentStyles">
          {{ user.firstname | uppercase }}&nbsp;{{ user.lastname }}
        </h3>
        <ul class="list-group" *ngIf="showExtended && user.age && user.address">
          <li class="list-group-item">Age: {{ user.age }}</li>
          <li class="list-group-item">Address: {{ user.address.city +' '+ user.address.street }}</li>
          <li class="list-group-item">Balance: {{ user.balance | currency:"GBP" }}</li>
          <li class="list-group-item">Joined at: {{ user.registered | date }}</li>
          <li class="list-group-item" ngNonBindable>
            <pre>{{ .5 | percent }}</pre>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>

<h4 *ngIf="!loaded">Loading users ...</h4>

<ng-template #noUsers>
  No users found
</ng-template>
