<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3"><i
    [ngClass]="showUserForm ? 'fa fa-minus' : 'fa fa-plus'"></i>&nbsp;Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm == true">
  <h2>Add user</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input autocomplete='off' type="text" [ngClass]="{'is-invalid': userFirstname.errors && userFirstname.touched}"
        name="firstname" [(ngModel)]="user.firstname" class="form-control" #userFirstname="ngModel" required
        minlength="2">

      <div [hidden]="!userFirstname.errors?.required" class="invalid-feedback">
        firstname is required.
      </div>

      <div [hidden]="!userFirstname.errors?.minlength" class="invalid-feedback">
        must be at least 2 characters.
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" autocomplete='off' [(ngModel)]="user.lastname" #userLastname="ngModel"
        [ngClass]="{'is-invalid':userLastname.errors && userLastname.touched}" class="form-control" name="lastName"
        required minlength="2">

      <div [hidden]="!userLastname.errors?.required" class="invalid-feedback">
        lastname is required.
      </div>

      <div [hidden]="!userLastname.errors?.minlength" class="invalid-feedback">
        must be at least 2 characters.
      </div>
    </div>

    <div class="form-group">
      <label>Email Address</label>
      <input autocomplete='off' type="email" #userEmail="ngModel" [(ngModel)]="user.email"
        [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}" class="form-control" name="email" required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">

      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
        Email is required.
      </div>

      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
        Email is not valid.
      </div>
    </div>

    <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add
      new user</button>

  </form>
</div>

<hr>

<h2>Users:</h2>
<ul class="list-unstyled" *ngIf="users?.length > 0; else noUsers">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>
      {{ user.firstname }}&nbsp;{{ user.lastname }}
      <small>
        <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm"><i
            [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="!user.hide">
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">Joined: {{ user.registered | date }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="!loaded">Loading users ...</h4>

<ng-template #noUsers>
  No users found
</ng-template>
